* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial;
}

header {
  background-color: rgb(12, 98, 196);
  position: fixed;
  right: 0;
  left: 0;
  height: 70px;
  z-index: 1;
  display: flex;
}

.left-header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: white;
  font-size: 30px;
  font-weight: 700;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.right-header-section {
  width: 100px;
}

.cart-button {
  width: 50px;
  height: 50px;
}
/* main section styles */
main {
  padding-top: 80px;
}
.products-section {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  gap: 8px;
}
.image-container {
  width: 330px;
  height: 240px;
}
.product-image {
  width: 100%;
  height: 100%;
}

.product-title {
  font-size: 18px;
  font-weight: 550;
}
.product-price {
  font-weight: 700;
  font-size: 24px;
  color: green;
}
.product-description {
  color: gray;
  line-height: 10px;
}

.add-to-cart {
  padding: 10px 90px;
  border: none;
  color: black;
  background-color: rgb(185, 152, 5);
  font-weight: 700;
  font-size: 15px;
  border-radius: 30px;
  margin-top: 14px;
}
.cart-section {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  width: 400px;
  z-index: 2;
  background-color: rgb(171, 171, 223);
  display: none;
}
.close-cart-button {
  position: absolute;
  width: 20px;
  height: 20px;
}
